<template name="addTeamShifts">
  {{> insertUpdate form=form data=this}}
</template>

<template name="shiftsTable">
  <table class="table">
    {{#each shift in allShifts}}
      <tr>
        <td>{{shift.title}}</td>
        <td>{{formatDate shift.start}}-{{formatDate shift.end}}</td>
        <td>
          <i class="fa fa-pencil-square-o" aria-hidden="true" data-action="editShift" data-id="{{shift._id}}"></i>
          <i class="fa fa-trash-o" aria-hidden="true" data-action="deleteShift" data-id="{{shift._id}}"></i>
        </td>
      </tr>
    {{/each}}
  </table>
</template>
