
<template name='daysPicker'>
  <label class="control-label">{{_ "days"}}</label>
  <input type="text" id="days" class="form-control">
</template>

<template name='rangePicker'>
  <label class="control-label">{{_ "date_range"}}</label>
  <input type="text" id="range" class="form-control">
</template>

<template name="periodPicker">
  <label class="control-label" for="period">{{_ "period"}}</label>
  <select id="period" class="form-control"></select>
</template>

<template name="tagsPicker">
  <label class="control-label" for="tags">{{_ "tags"}}</label>
  <select id="tags" class="form-control"></select>
</template>

<template name="typePicker">
  <label class="control-label" for="type">{{_ "type"}}</label>
  <select id="type" class="form-control"></select>
</template>

<template name="areasPicker">
  <label class="control-label" for="areas">{{_ "areas"}}</label>
  <select id="areas" class="form-control"></select>
</template>

<template name="moreFilters">
  <label class="control-label" for="more">{{_ "more_filters"}}</label>
  <input type="text" id="more" class="form-control">
</template>
