<template name="dutyListItem">
  <div>{{> React component=DutiesListItem duty=this }}</div>
</template>

<template name="dutiesListItemGroupped">
  {{#if Template.subscriptionsReady }}
    <div>{{> React component=DutiesListItem duty=duty}}</div>
    <div class="row no-gutters pt-2 align-items-center">
      {{#if $eq duty.type 'project'}}
        {{> dutiesListItemDate duty }}
      {{else}}
        <div class="col">
          <div class="btn-action">
            <h5 class="mb-0">{{ duty.length }} {{__ ".shift_length_hours"}}</h5>
          </div>
        </div>
        <div class="col">
          <button
            class="btn btn-action btn-primary"
            data-parent-id="{{duty.parentId}}"
            data-group-title="{{duty.title}}"
            data-duty-type="{{duty.type}}"
            data-action="chooseShifts"
          >{{__ ".choose_shifts"}}</button>
        </div>
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="dutiesListItemDate">
  {{#if $eq type "project"}}
    {{> projectDate }}
  {{else}}
    {{> shiftDate }}
  {{/if}}
  <div class="col p-0">
    {{#if $and signup.status ($neq signup.status 'bailed')}}
      <div class="d-flex">
        <button class="btn btn-action disabled
          {{#if $eq signup.status 'confirmed'}}btn-success{{/if}}">
          {{__ signup.status }}
        </button>
        <button class="btn btn-primary btn-action" data-shiftid="{{_id}}"
          data-parentid="{{parentId}}" data-type="{{type}}" data-action="bail">
            {{__ ".cancel" }}
        </button>
      </div>
    {{else}}
      {{#unless $eq policy "adminOnly"}}
        <button class="btn btn-primary btn-action" data-shiftid="{{_id}}"
          data-parentid="{{parentId}}" data-type="{{type}}" data-action="apply"
          disabled="{{#unless spotsleft}}true{{/unless}}">
          {{#if $eq type "project"}}
            {{__ ".choose_date"}}
          {{else}}
            {{#if $eq policy "public"}}{{__ ".join"}}{{/if}}
            {{#if $eq policy "requireApproval"}}{{__ ".apply"}}{{/if}}
            {{#if gaps}}
              ({{gaps}} {{__ ".people_needed"}})
            {{else}}
              ({{spotsleft}} {{__ ".spots_left"}})
            {{/if}}
          {{/if}}
        </button>
      {{else}}
        {{__ ".admin_only"}}
      {{/unless}}
    {{/if}}
  </div>
</template>

<!-- Create a new shift give for a given team
   args: Team
-->
<template name="addShift">
  {{> insertUpdateTemplate form=form data=data }}
</template>

<template name="addShiftGroup">
  {{> insertUpdateTemplate form=form data=data }}
</template>

<!-- Create a new task give for a given team
   args: Team
-->
<template name="addTask">
  {{> insertUpdateTemplate form=form data=data }}
</template>

<template name="addProject">
  {{> insertUpdateTemplate form=form data=data }}
</template>

<Template name="projectStaffingInput">
  {{! Wrapper div with this.atts needed to wire it into autoform}}
  <div {{this.atts}}>
    {{#if datesSet}}
      <div class="row">
        <div class="col-md-4 offset-md-4">
          {{__ ".min_people"}}
        </div>
        <div class="col-md-4">
          {{__ ".max_people"}}
        </div>
      </div>
      {{#each staffingValue in staffingArray}}
        <div class="row" data-index="{{@index}}">
          <div class="col-md-4">
            {{day @index}}
          </div>
          <div class="col-md-4">
            <input data-field="min" type="number" name="{{this.atts.name}}.{{@index}}.min" value="{{staffingValue.[min]}}" class="form-control" />
          </div>
          <div class="col-md-4">
            <input data-field="max" type="number" name="{{this.atts.name}}.{{@index}}.max" value="{{staffingValue.[max]}}" class="form-control" />
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</Template>

<!-- Isn't used anywhere? -->
<template name="shiftsTasksTableRowView">
  <div>
    <a href="{pathFor teamViewEventName _id=teamId}}">{{teamName}}</a>:
    {{title}}
    {{#if $and ($eq type "lead") ($eq status "pending")}} {{fa "exclamation-triangle"}}{{/if}}
  </div>
  <div>
    {{#if $eq type "shift"}}{{fa "calendar"}}
    {{else $eq type "task"}}{{fa "tasks"}}
    {{else $eq type "lead"}}{{fa "user-circle"}}
    {{/if}}
    <div class="row align-items-center">
      {{#if $eq type "task"}}
        {{> taskDate shift}}
      {{else $eq type "shift"}}
        {{> shiftDate shift}}
      {{/if}}
    </div>
  </div>
</template>

<!-- helper display to format the date of a shift. used in dutiesListItem and ... -->
<template name="shiftDate">
  <div class="col"><h5 class="m-0">{{formatDate start}}</h5></div>
  <div class="col"><h5 class="m-0">{{formatTime start}} -
    {{#if sameDay start end}}
      {{formatTime end}}
    {{else}}
      {{formatTime end}} {{differenceTime start end}}
    {{/if}}
  </h5></div>
</template>

<template name="shiftDateInline">
  {{#if sameDay start end}}
    <h6>{{formatDateTime start}} - {{formatTime end}}</h6>
  {{else}}
    <h6>{{formatDateTime start}} - {{formatTime end}} {{differenceTime start end}}</h6>
  {{/if}}
</template>

<template name="projectDate">
  <div class="col"><h5 class="mb-0">{{formatDate start}}</h5><h6>{{longformDay start}}</h6></div>
  <div class="col"><h5 class="mb-0">{{formatDate end}}</h5><h6>{{longformDay end}}</h6></div>
</template>

<template name="taskDate">
  <!-- <div class="row">{{> taskDate duty}}</div> -->
  <div class="row">{{__ ".estimated_time"}} {{estimatedTime}}</div>
</template>

<template name="projectSignupForm">
  <div>{{> React component=DutyBody description=project.description }}</div>
  {{#if Template.subscriptionsReady }}
    {{> projectStaffingChart project=project confirmedSignups=confirmed }}
    {{#if signup._id}}
      {{> quickForm
        schema=formSchema
        id="projectSignupsUpdate"
        type="method-update"
        meteormethod=methodNameUpdate
        doc=signup }}
    {{else}}
      {{> quickForm
        schema=formSchema
        id="projectSignupsInsert"
        type="method"
        meteormethod=methodNameInsert
        doc=signup}}
    {{/if}}
  {{/if}}
</template>

<template name="signupModal">
  <div class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          {{title}}
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
          </button>
        </div>
        <div class="modal-body">
          {{#each dutydate in allDates }}
            <div class="list-item row align-items-center px-2">{{> dutiesListItemDate dutydate }}</div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
