<template name="signupsList">
  <div class="container-fluid p-0">
    {{#each team in allTeams }}
      {{#if $eq dutyType 'lead' }}
        <div>{{> React component=LeadListItemGrouped teamId=team._id }}</div>
      {{else }}
        {{> signupsListTeam team=team filters=filters dutyType=dutyType }}
      {{/if}}
    {{/each}}
    {{#if loadMore}}
      <div class="row align-content-right no-gutters">
        <div class="col">
          <button class="btn btn-light btn-primary"
            data-action="loadMoreTeams">{{__ ".load_more_teams"}}</button>
        </div>
      </div>
    {{/if}}
  </div>
</template>

<template name="signupsListTeam">
  {{#if $and Template.subscriptionsReady ($gt ($len allShifts) 0) }}
    {{#each duty in allShifts }}
      <div class="px-2 pb-0 signupsListItem">
        {{> dutiesListItemGroupped duty=duty }}
      </div>
    {{/each}}
  {{/if}}
</template>
